         
            <div class="footer">
               <p class="fottext">©Liva Linde 2019 <br>Created by Evija Banič</p>
            </div>

    
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
            
            <script>
            /* -------------------------- LigthBox FUNCTION ------------------ */


            window.addEventListener('load', function(){
                baguetteBox.run(
                   '.Kids, .lifestyle, .wedding, .landscapes, .people, .portraits, .wildlife, .sports, .architecture, .blogSection'
                   );
             });
                 
             //Get the button:
               mybutton = document.getElementById("myBtn");

               // When the user scrolls down 20px from the top of the document, show the button
               window.onscroll = function() {scrollFunction()};

               function scrollFunction() {
               if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  mybutton.style.display = "block";
               } else {
                  mybutton.style.display = "none";
               }
               }

               // When the user clicks on the button, scroll to the top of the document
               function topFunction() {
               document.body.scrollTop = 0; // For Safari
               document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
               } 
            </script>
   </body>
</html>