         
            <div class="footer">
               <p class="fottext">©Liva Linde 2019 <br>Created by Evija Banič</p>
            </div>

         
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      
      <script>
          baguetteBox.run('.Kids, .lifestyle, .wedding, .landscapes, .people, .portraits, .wildlife, .sports, .architecture');
       </script>
   </body>
</html>