 <% include partials/header %>
 

 <nav class="navbar navbar-default fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:100px; margin-left:10px; margin-top:-5px;" src="/logo.png">
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
			 aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="biography">Biography</a></li>
				<li><a href="portfolio">Portfolio</a></li>
				<!-- <li><a href="price">Price List</a></li> -->
				<li><a href="roadjournal">Liv: to be</a></li>
				<li><a href="collaboration">Collaboration</a></li>
			</ul>
		</div>
	</nav>		


		

<body class="about parallax">	

	<div class="container-fluid"> <!-- CONTAINS ALL BODY -->

			<section class="intro">
					<div class="pads">
						<h2 class="caps">Photographer</h2>

							<p> whose main working areas are outdoor environment, mountains and travels. 
								The pulse of the mountain world is her motivation, inspiration and meaning of life. 
								Has a strong focus on natural light, creative angles, colours and details. 
								She is always searching for an energy behind every person, event, land or culture. 

							</p>
					</div>
			
						
					<div class="pads">
						 <h2 class="caps">Writer</h2>

							<p> who loves to write in a personal and detailed style with the purpose of both to entertain and to inform.  
								Aims to see everything in a broader context, put meaning to things  and do it with a philosophical touch. 
								Her creativity and enthusiasm results in authentic stories that bring you closer to any person or area of the world.
							</p>
					</div>
						
						
					<div class="pads">
						<h2 class="caps">Explorer</h2>

							<p> who is moved by long treks and mountain expeditions. She takes every chance to spend time outdoors, 
								discovering new slopes and sights, and seeing the beauty in small things. She strongly believes that nature
								 has a rewarding effect on the human mind and body. All we need to do is to go outside and explore it with all
								  our senses.
							</p>
					</div>
				</section>
			</main>

		
			
			<section class="education">
				<ul id="small">	
						<li><strong>Alex Strohl</strong><br>
							Adventure photography | 2020, online
						</li>
						<li><strong>Swiss Photo Club</strong> 
							<br>Wildlife and travel phoyography | 2019, Namibia </li>
						<li><strong>Alex Webb & Rebecca Norris Webb</strong> 
							<br>Street photography | 2017, Rome</li>
						
				</ul>
				<div id="studies">
					<h3>Workshops | Studies</h3>
				</div>
				<ul id="lighter">	
				
						<li><strong>British College of Journalism</strong> <br>
							Travel Journalism | 2019 - 2020, online </li>
						<li><strong>The New York Institute of Photography</strong><br>
							2016 - 2018, online</li>
						<li><strong>Visual communication</strong><br>
							PR studies | 2006 - 2010, Riga</li>
				</ul>
			</section>
			<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
	</div> <!-- END OF CONTAINER-->


<% include partials/footer %>