<% include partials/header %>

<body class="sectionkids">
    <div class="container-fluid">
        <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button"> Back to Portfolio</a>
        </div>
    <section class="Kids">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 001.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 002.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 003.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 004.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 004.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 005.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 005.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 006.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 007.JPG">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 007.JPG">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 008.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 008.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 009.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 009.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 010.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 011.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 012.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 013.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 013.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 014.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 015.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 016.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 017.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 018.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 019.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 020.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 020.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 021.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 022.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 023.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 023.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 024.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 024.jpg">
                    </a>
                </div>
              
                  <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 025.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 025.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 026.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 026.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 027.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 027.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 028.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 028.jpg">
                    </a>
                </div>
                   <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 029.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 029.jpg">
                    </a>
                </div>
                
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 030.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 031.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 031.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 032.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 032.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 033.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 034.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 034.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Childhood/Childhood 035.jpg">
                    <img src="cloudcube-vertical-95179/public/Childhood/Childhood 035.jpg">
                    </a>
                </div>
          </main>
          
          <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
        </div>
<% include partials/footer %>
