<% include partials/header %>

<body class="sectionlifestyle">
    <div class="container-fluid">
        <a href="/portfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
        
    <section class="landscapes">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 001.jpg">
                    <img src="/Landscapes/Landscapes 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 002.jpg">
                    <img src="/Landscapes/Landscapes 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 003.jpg">
                    <img src="/Landscapes/Landscapes 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 004.jpg">
                    <img src="/Landscapes/Landscapes 004.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 005.jpg"> 
                     <img src="/Landscapes/Landscapes 005.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 006.jpg">
                    <img src="/Landscapes/Landscapes 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 007.jpg">
                    <img src="/Landscapes/Landscapes 007.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 008.jpg">
                    <img src="/Landscapes/Landscapes 008.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 009.jpg">
                    <img src="/Landscapes/Landscapes 009.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 010.jpg">
                    <img src="/Landscapes/Landscapes 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 011.jpg">
                    <img src="/Landscapes/Landscapes 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 012.jpg">
                    <img src="/Landscapes/Landscapes 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 013.jpg">
                    <img src="/Landscapes/Landscapes 013.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 014.jpg">
                    <img src="/Landscapes/Landscapes 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 015.jpg">
                    <img src="/Landscapes/Landscapes 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 016.jpg">
                    <img src="/Landscapes/Landscapes 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 017.jpg">
                    <img src="/Landscapes/Landscapes 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 018.jpg">
                    <img src="/Landscapes/Landscapes 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 019.jpg">
                    <img src="/Landscapes/Landscapes 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 020.jpg">
                    <img src="/Landscapes/Landscapes 020.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 021.jpg">
                    <img src="/Landscapes/Landscapes 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 022.jpg">
                    <img src="/Landscapes/Landscapes 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 023.jpg">
                    <img src="/Landscapes/Landscapes 023.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 024.jpg">
                    <img src="/Landscapes/Landscapes 024.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 025.jpg">
                    <img src="/Landscapes/Landscapes 025.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 026.jpg">
                    <img src="/Landscapes/Landscapes 026.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 027.jpg">
                    <img src="/Landscapes/Landscapes 027.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="/Landscapes/Landscapes 028.jpg">
                    <img src="/Landscapes/Landscapes 028.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 029.jpg">
                    <img src="/Landscapes/Landscapes 029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 030.jpg">
                    <img src="/Landscapes/Landscapes 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 031.jpg">
                    <img src="/Landscapes/Landscapes 031.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 032.jpg">
                    <img src="/Landscapes/Landscapes 032.jpg" >
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 033.jpg">
                    <img src="/Landscapes/Landscapes 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 034.jpg">
                    <img src="/Landscapes/Landscapes 034.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Landscapes/Landscapes 035.jpg">
                    <img src="/Landscapes/Landscapes 035.jpg">
                    </a>
                </div>
            </main>

    <% include partials/footer %>