<% include partials/header %>

<body class="sectionlifestyle">
    <div class="container-fluid">
        <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button"> Back to Portfolio</a>
        </div>
        
    <section class="lifestyle">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 001.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 002.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 003.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 004.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 004.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 005.jpg"> 
                     <img src="cloud-cube/public/Lifestyle/Lifestyle events 005.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 006.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 007.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 007.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 008.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 008.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 009.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 009.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 010.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 011.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 012.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 013.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 013.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 014.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 015.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 016.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 017.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 018.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 019.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 020.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 020.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 021.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 022.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 023.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 023.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 024.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 024.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 025.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 025.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 026.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 026.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 027.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 027.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 028.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 028.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 029.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 030.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Lifestyle/Lifestyle events 031.jpeg">
                    <img src="/Lifestyle/Lifestyle events 031.jpeg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 032.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 032.jpg" >
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 033.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 034.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 034.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloud-cube/public/Lifestyle/Lifestyle events 035.jpg">
                    <img src="cloud-cube/public/Lifestyle/Lifestyle events 035.jpg">
                    </a>
                </div>
            </main>

            <div class="buttonBack">
                <a href="portfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
            </div>

    <% include partials/footer %>