	<% include partials/header %>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:120px; margin-top: -12px;" src="/logo.png">
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="biography">Biography</a></li>
				<li class="active"><a href="portfolio">Portfolio</a></li>
				<li><a href="roadjournal">Liv: to be</a></li>	
				<li class="special"><a href="collaboration">Collaboration</a></li>
			</ul>
		</div>
	</nav>

<body class="mywork">
	<div class="container-fluid">	

		<section class="portfolio">
			<main class="galleries">

				<div class="images">
					<a href="landscapes"><img class=" gallery-image" src="Landscapes/Landscape_titulfoto.jpg" alt="Travel landscapes">
					<h2 class="shorttext">Landscapes</h2></a>
				</div>
				<div class="images">
					<a href="wildlife"><img  class="hover gallery-image" src="Wildlife/Wildlife 007.jpg" alt="Wildlife">
					<h2 class="shorttext">Wildlife</h2></a>
				</div> 
				<div class="images">
					<a href="travel"><img class="hover gallery-image" src="Travel/TRAVEL_mainpic.jpg" alt="Travel">
					<h2 class="shorttext">Travel</h2></a>
				</div>
				<!-- END OF THE FIRST LINE-->

				<div class="images">
					<a href="childhood"><img  class="hover gallery-image" src="/Childhood/Childhood 001.jpg" alt="kids">
					<h2 class="shorttext">Childhood</h2></a>
				</div>				
				<div class="images">
					<a href="lifestyle"><img class="hover gallery-image" src="/Lifestyle/LYFESTYLE_mainpic.jpg" alt="lifestyle">
					<h2 class="shorttext">Lifestyle</h2></a>
				</div>
				<div class="images">
					<a href="wedding"><img class="gallery-image" src="/wedding/Weddings 007.jpg" alt="wedding">
					<h2 class="shorttext">Weddings</h2></a>
				</div>
				<!-- END OF THE SECOND LINE-->
				
			
				<div class="images">
					<a href="portraits"><img  class="hover gallery-image" src="portraits/Portraits 007.jpg" alt="Portraits">
					<h2 class="shorttext">Portraits</h2></a>
				</div>  
				<div class="images">
					<a href="sports"><img  class="hover gallery-image" src="Sport/Sport 001.jpg" alt="Sports">
					<h2 class="shorttext">Sports</h2></a>
				</div> 
			
				<div class="images">
					<a href="interior"><img  class="hover gallery-image" src="Interior/Interior 001.jpg" alt="Wildlife">
					<h2 class="shorttext">Interior</h2></a>
				</div> 
			</main>
			  
			<div class="social2">
				<div class="items-social">
					<a class="social-media facebook" href="https://www.facebook.com/liv.tobe/" target="_blank"></a>
				</div>
				<div class="items-social"> 
					<a class="social-media instagram" href="https://www.instagram.com/liva_linde/" target="_blank"></a>
				 </div>
				 <div class="items-social">
				 	<a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/" target="_blank"></a>
				 </div>
			</div>
		</div> <!--CONTAINER FLUID ENDS-->
	</section>

<% include partials/footer %>
	
