<% include partials/header %>

<body class="sectionportraits">
    <div class="container-fluid">
        <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button"> Back to Portfolio</a>
        </div>
    <section class="portraits">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 001.jpg">
                    <img src="/portraits/Portraits 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 002.jpg">
                    <img src="/portraits/Portraits 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 003.jpg">
                    <img src="/portraits/Portraits 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 004.jpg">
                    <img src="/portraits/Portraits 004.jpg">
                    </a>
                </div>
            
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 006.jpg">
                    <img src="/portraits/Portraits 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 007.jpg">
                    <img src="/portraits/Portraits 007.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 008.jpg">
                    <img src="/portraits/Portraits 008.jpg">
                    </a>
                </div>
             
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 010.jpg">
                    <img src="/portraits/Portraits 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 011.jpg">
                    <img src="/portraits/Portraits 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 012.jpg">
                    <img src="/portraits/Portraits 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 013.jpg">
                    <img src="/portraits/Portraits 013.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="/portraits/Portraits 014.jpg">
                    <img src="/portraits/Portraits 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 015.jpg">
                    <img src="/portraits/Portraits 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 016.jpg">
                    <img src="/portraits/Portraits 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 017.jpg">
                    <img src="/portraits/Portraits 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 018.jpg">
                    <img src="/portraits/Portraits 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 019.jpg">
                    <img src="/portraits/Portraits 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 020.jpg">
                    <img src="/portraits/Portraits 020.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 021.jpg">
                    <img src="/portraits/Portraits 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 022.jpg">
                    <img src="/portraits/Portraits 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 023.jpg">
                    <img src="/portraits/Portraits 023.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 024.jpg">
                    <img src="/portraits/Portraits 024.jpg">
                    </a>
                </div>
              
                  <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 026.jpg">
                    <img src="/portraits/Portraits 026.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 027.jpg">
                    <img src="/portraits/Portraits 027.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="/portraits/Portraits 028.jpg">
                    <img src="/portraits/Portraits 028.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 029.jpg">
                    <img src="/portraits/Portraits 029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 030.jpg">
                    <img src="/portraits/Portraits 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 031.jpg">
                    <img src="/portraits/Portraits 031.jpg">
                    </a>
                </div>
               
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 033.jpg">
                    <img src="/portraits/Portraits 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 034.jpg">
                    <img src="/portraits/Portraits 034.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 035.jpg">
                    <img src="/portraits/Portraits 035.jpg">
                    </a>
                </div>
                <!----- NEW ONES 2020 MAY-->
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 036.jpg">
                    <img src="/portraits/Portraits 036.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 037.jpg">
                    <img src="/portraits/Portraits 037.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 038.jpg">
                    <img src="/portraits/Portraits 038.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/portraits/Portraits 039.jpg">
                    <img src="/portraits/Portraits 039.jpg">
                    </a>
                </div>
            </main>

            <div class="buttonBack">
                <a href="porfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
            </div>
    <% include partials/footer %>
