
			<% include partials/header %>

			<nav class="navbar navbar-default fixed-top">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<img alt="Brand" style="max-width:100px; margin-left:10px; margin-top:-5px;" src="/logo.png">
						</a>
		
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
						 aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
		
					<div class="collapse navbar-collapse" id="bs-nav-demo">
						<ul class="nav navbar-nav navbar-right">
							<li ><a href="/">Home</a></li>
							<li><a href="about">My Story</a></li>
							<li class="active"><a href="portfolio">Portfolio</a></li>
							<!-- <li><a href="price">Price List</a></li> -->
							<li><a href="roadjournal">Liv: to be</a></li>
							<li><a href="contact">Say Hello</a></li>
						</ul>
					</div>
				</nav>

<body class="mywork">
	<div class="container-fluid">	

		<section class="portfolio">
			<main class="galleries">
				
				<div class="images">
					<a href="kidsevents"><img  class="hover gallery-image" src="/Kids/Kids events 007.jpg" alt="kids">
					<h2 class="shorttext">Kids Events</h2></a>
				</div>
				
				<div class="images">
					<a href="lifestyle"><img class="hover gallery-image" src="/Lifestyle/Lifestyle events 007.jpg" alt="lifestyle">
					<h2 class="shorttext">Lifestyle Events</h2></a>
				</div>
				
				<div class="images">
					<a href="wedding"><img class="gallery-image" src="/wedding/Weddings 007.jpg" alt="wedding">
					<h2 class="shorttext">Weddings</h2></a>
				</div>
				
				<div class="images">
					<a href="landscapes"><img class=" gallery-image" src="Landscapes/Landscapes 007.jpg" alt="Travel landscapes">
					<h2 class="shorttext">Landscapes</h2></a>
				</div>
				<div class="images">
					<a href="people"><img class="hover gallery-image" src="people/People 007.jpg" alt="People">
					<h2 class="shorttext">People</h2></a>
				</div>
				<div class="images">
					<a href="portraits"><img  class="hover gallery-image" src="portraits/Portraits 007.jpg" alt="Portraits">
					<h3 class="shorttext">Portraits</h3></a>
				</div>  
				<div class="images">
					<a href="sports"><img  class="hover gallery-image" src="Sport/Sport 007.jpg" alt="Sports">
					<h3 class="shorttext">Sports</h3></a>
				</div> 
				<div class="images">
					<a href="wildlife"><img  class="hover gallery-image" src="Wildlife/Wildlife 007.jpg" alt="Wildlife">
					<h3 class="shorttext">Wildlife</h3></a>
				</div> 
				<div class="images">
					<a href="architecture"><img  class="hover gallery-image" src="Architecture/Architecture 007.jpg" alt="Wildlife">
					<h3 class="shorttext">Architecture</h3></a>
				</div> 
							
			</main>
			  
			<div class="social2">
				<div class="items-social">
					<a class="social-media facebook" href="https://www.facebook.com/liv.tobe/" target="_blank"></a>
				</div>
				<div class="items-social"> 
					<a class="social-media instagram" href="https://www.instagram.com/liva_linde/" target="_blank"></a>
				 </div>
				 <div class="items-social">
				 	<a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/" target="_blank"></a>
				 </div>
			</div>
		</section>
</div>

<% include partials/footer %>
	
