	<% include partials/header %>
	

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:120px; margin-top:cloudcube-vertical-95179/public -12px;" src="/logo.png">
			</a>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="biography">Biography</a></li>
				<li><a href="portfolio">Portfolio</a></li>
				<li class="active"><a href="roadjournal">Liv: to be</a></li>	
				<li class="special"><a href="collaboration">Collaboration</a></li>
			</ul>
		</div>
	</nav>

<body class="roadjournal">
	<div class="container-fluid">
	
	<section class="sectionjournal"> <!-- MAIN CONTAINER-->
			<main class="galleries"> <!-- MAIN CONTENT-->

				<div class="images">
					<a href="qatar_part_I"><img class="gallery-image" src="cloudcube-vertical-95179/public/Qatar_part_I/intro.png" alt="Qatar Travel"></a>
					<h2 class="shorttext">Splendor surrounded<br>by silence I</h2></a>
				</div> 
				
				<div class="images">
					<a href="qatar_part_II"><img class="gallery-image" src="/cloudcube-vertical-95179/publicQatar_part_I/intro2.png" alt="Qatar Travel">
					<h2 class="shorttext">Splendor surrounded<br>by silence II</h2></a>
				</div>

		<!-- COMING SOON-->
				<div class="images">
					<a href="#"><img class="gallery-image" src="/Cocloud-cube/publicmingSoonRoadJournal.png">
					<h2 class="shorttext">Coming Soon</h2></a>
				</div>

				<div class="images">
					<a href="#"><img class="gallery-image" src="/Cocloud-cube/publicmingSoonRoadJournal.png">
					<h2 class="shorttext">Coming Soon<br></h2></a>
				</div>

				<div class="images">
					<a href="#"><img class="gallery-image" src="/Cocloud-cube/publicmingSoonRoadJournal.png">
					<h2 class="shorttext">Coming Soon<br></h2></a>
				</div>
				<div class="images">
					<a href="#"><img class="gallery-image" src="/Cocloud-cube/publicmingSoonRoadJournal.png">
					<h2 class="shorttext">Coming Soon<br></h2></a>
				</div>
		
			</main>

						
			<div class="social2">
				<div class="items-social">
					<a class="social-media facebook" href="https://www.facebook.com/liv.tobe/" target="_blank"></a>
				</div>
				<div class="items-social">
					<a class="social-media instagram" href="https://www.instagram.com/liva_linde/" target="_blank"></a>
				 </div>
				 <div class="items-social">
				 	<a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde-8928a1146/?fbclid=IwAR12IXIttbFZeYzW3e3IlPZWTFy3WWhG8Ckw0dlD08EQeFwiUEzb6atnDWw" target="_blank"></a>
			 </div>
		</div> <!--CONTAINER FLUID ENDS-->
</section>

			


	<% include partials/footer %>