<% include partials/header %>

<body class="sectionsports">
    <div class="container-fluid">
        <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button"> Back to Portfolio</a>
        </div>
        
    <section class="sports">
        <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 001.jpg">
                    <img src="/Sport/Sport 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 002.jpg">
                    <img src="/Sport/Sport 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 003.jpg">
                    <img src="/Sport/Sport 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 004.jpg">
                    <img src="/Sport/Sport 004.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 005.jpg"> 
                     <img src="/Sport/Sport 005.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 006.jpg">
                    <img src="/Sport/Sport 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 007.jpg">
                    <img src="/Sport/Sport 007.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 008.jpg">
                    <img src="/Sport/Sport 008.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 009.jpg">
                    <img src="/Sport/Sport 009.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 010.jpg">
                    <img src="/Sport/Sport 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 011.jpg">
                    <img src="/Sport/Sport 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 012.jpg">
                    <img src="/Sport/Sport 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 013.jpg">
                    <img src="/Sport/Sport 013.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="/Sport/Sport 014.jpg">
                    <img src="/Sport/Sport 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 015.jpg">
                    <img src="/Sport/Sport 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 016.jpg">
                    <img src="/Sport/Sport 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 017.jpg">
                    <img src="/Sport/Sport 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 018.jpg">
                    <img src="/Sport/Sport 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 019.jpg">
                    <img src="/Sport/Sport 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 020.jpg">
                    <img src="/Sport/Sport 020.jpg">
                    </a>
                </div>
             
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 021.jpg">
                    <img src="/Sport/Sport 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 022.jpg">
                    <img src="/Sport/Sport 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 023.jpg">
                    <img src="/Sport/Sport 023.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 024.jpg">
                    <img src="/Sport/Sport 024.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 025.jpg">
                    <img src="/Sport/Sport 025.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 026.jpg">
                    <img src="/Sport/Sport 026.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="/Sport/Sport 027.jpg">
                    <img src="/Sport/Sport 027.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 028.jpg">
                    <img src="/Sport/Sport 028.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 029.jpg">
                    <img src="/Sport/Sport 029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 030.jpg">
                    <img src="/Sport/Sport 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 031.jpg">
                    <img src="/Sport/Sport 031.jpg" >
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 032.jpg">
                    <img src="/Sport/Sport 032.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 033.jpg">
                    <img src="/Sport/Sport 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 034.jpg">
                    <img src="/Sport/Sport 034.jpg">
                    </a>
                </div>

                <!--- NEW ONES 2020 MAY-->
                <div class="imageslayout">
                    <a class="lightbox" href="/Sport/Sport 035.jpg">
                 <img src="/Sport/Sport 035.jpg">
                    </a>
                </div>
            </main>

            <div class="buttonBack">
                <a href="porfolio" class="btn btn-basic" role="button">Back to Portfolio</a>
            </div>

    <% include partials/footer %>