<% include partials/header %>

 
<body class="sectionwildlife">     
    <div class="container-fluid">
        <div class="buttonBack">
            <a href="portfolio" class="btn btn-basic" role="button"> Back to Portfolio</a>
        </div>
    <section class="wildlife">
     
        <main class="mainpanel">
          
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 001.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 001.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 002.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 002.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 003.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 003.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 004.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 004.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 005.jpg"> 
                     <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 005.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 006.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 006.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 007.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 007.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 008.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 008.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 009.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 009.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 010.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 010.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 011.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 011.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 012.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 012.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 013.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 013.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 014.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 014.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 015.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 015.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 016.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 016.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 017.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 017.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 018.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 018.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 019.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 019.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 020.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 020.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 021.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 021.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 022.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 022.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 023.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 023.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 024.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 024.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 025.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 025.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 026.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 026.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 027.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 027.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 028.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 028.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 029.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 029.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 030.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 030.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 031.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 031.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 032.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 032.jpg" >
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 033.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 033.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 034.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 034.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="cloudcube-vertical-95179/public/Wildlife/Wildlife 035.jpg">
                    <img src="cloudcube-vertical-95179/public/Wildlife/Wildlife 035.jpg">
                    </a>
                </div>
            </main>

         
        </section>
    <% include partials/footer %>