  @import url(https://fonts.googleapis.com/css?family=Raleway:300);
  @import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');


  body.home { 
    background-image: url(livalinde.jpg) ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
  }


        @keyframes fadein{
          100%{
            opacity: 1;
          }
        }

        .main {
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-wrap: wrap;
          align-items: center;   
        }
          .message{
            display: flex;
            justify-content: row;
            align-self: center;
            /* height: 150px; */
          }
          
            .message p{
              font-family: 'Simonetta', cursive;
              font-size: 32px;
              color: rgb(255, 255, 255, 0.7);
              letter-spacing: 2px;
              font-weight: 400;
              margin: 12px;
            }
            .main h1{
              font-family: 'Simonetta', cursive;
              font-size: 60px;
              letter-spacing: 2px;
              color: rgb(255, 255, 255, 0.9);
            }



      /* --------------------------------- MEDIA QUERIES ----------------------------------- */

      /* ------- NAV ---- */
    
      /* ------- HOME---- */

      @media only screen and (max-width: 963px) {
    
        .main h1{
          font-size: 42px;
          margin-top: 60px;
          
        }
   
        .message p{
          font-size: 22px;
          text-align: center;
          margin: 3px;
        }
          .social{
            margin-top:40%;
            flex-direction:column;
            }  
            .social-media {
              border-radius: 50%;
              display: inline-block;
              height: 50px;
              margin: 0 18px 0 0;
              position: relative;
              width: 50px;
            }

              .social-media::before {
                color: rgba(0, 0, 0, 0.3);
                font: 22px 'FontAwesome';
                height: 28px; 
                line-height: 1em;
                text-align: center;
                transition: all 0.3s linear;
                width: 30px;
              }
      }















  

      

  